# Angular
node_modules/
dist/
npm-debug.log
yarn-error.log
package-lock.json
/.angular
/src/assets/*.json
/src/assets/images/
*.tsbuildinfo

# Visual Studio files
.vs/
*.sln
*.user
*.userosscache
*.suo
*.tss
*.pdb
*.dbmdl
*.dbproj.schemaview

# ASP.NET Core
bin/
obj/
*.db
*.db-journal
*.bak
*.log
*.dSYM/
wwwroot/lib/
wwwroot/css/
wwwroot/js/
appsettings*.json
appsettings.*.json
appsettings.json

# Windows
Thumbs.db
